body {
  font-family: 'Open Sans';
  scroll-behavior: smooth;
  margin: 0em;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  background: linear-gradient(#f1f1f1 0%, #7caeff 80%);
}

main {
  width: 100%;
  padding-bottom: 250px;
  margin-top: 8em;
}

a {
  color: #B31B1B;
  text-decoration: none;
}

p {
  margin: 0em;
  padding: 0em;
}

.navhidden {
  display: none;
}


h1 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 110px;
  margin: 0em;
}

h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 35px;
  margin: 0em;
}

h3 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 36px;
  margin: 0em;
}

h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 25px;
  margin: 0em;
}

h5 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 18px;
  margin: 0em;
}

h5b {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 18px;
  margin: 0em;
}

p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
}

.section-header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}


/* desktop top navbar */
#top-navbar {
  background: linear-gradient(to right, rgba(242, 242, 242, 0.95), rgba(242, 242, 242, 0.7));
  height: 60px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(219, 219, 219, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

#top-navbar-logo {
  width: 200px;
  margin: 0;
  position: absolute;
  left: 1em;
  top: 0.7em;
}

#navbar-links-container {
  display: flex;
  align-items: center;
  gap: 5em;
  left: 10em;
  padding: 0 2em;
}

#navbar-links-container a {
  text-decoration: none;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 40px;
  transition: all 1s ease;
}

#navbar-links-container a:hover {
  background-color: rgba(10, 105, 175, 0.15);
}

/* highlight link of current page */
.onThisPage {
  color: #A86D49;
  font-weight: bold;
}

.notOnThisPage {
  color: black;  font-weight: bold;
}

.notOnThisPage:hover {
  color: #A86D49;
}

/* desktop bottom navbar */
#bottom-navbar {
  background: linear-gradient(to bottom, #f4d03f, #e67e22);
  height: 225px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-style: solid;
  border-width: .1px 0px .1px 0px;
  border-color: rgba(219, 219, 219, 0.3);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

#bottom-navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2em;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#bottom-navbar a {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#bottom-navbar a:hover {
  color: #f4d03f;
}

.footer-heading {
  font-size: 20px;
  margin-top: 1.5em;
  font-weight: bold;
  color: #fff;
}

.footer-text-container {
  font-size: 15px;
  color: #fff;
}

#facebook-icon {
  margin-left: 1em;
}

#instagram-icon {
  margin-left: .73em;
}

#linkedin-icon {
  margin-left: 1.5em;
}

#youtube-icon {
  margin-left: 1.56em;
}

#footer-logo {
  width: 8em;
  position: absolute;
  right: 14em;
  bottom: 0.1em;
}

#follow-us {
  width: 10em;
  margin-left: 10em;
}

.media-links {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.footer-icon {
  margin-top: .2em;
  width: 1em;
}

#contact-us {
  width: 10em;
}

.contact-us-subheader {
  margin-top: 1em;
}

@media (max-width: 900px) {
  /* mobile top navbar */

  #navbar-links-container {
    margin-right: .8em;
  }

  #navbar-links-container a {
    font-size: 14px;
    padding-right: 7.5px;
    padding-left: 7.5px;
  }

  /* ipad bottom navbar*/
  #follow-us {
    margin-left: 5em;
  }

  #footer-logo {
    right: 4em;
    bottom: 0em;
  }

}



/* hide mobile top navbar when window is resized */
@media (min-width: 750px) {
  #hamburger-icon {
    display: none;
  }
}


@media (max-width: 750px) {

  #top-navbar {
    position: static;
  }

  /* mobile top navbar */
  #mobile-top-navbar {
    background-color: #F2F2F2;
    height: 295px;
  }

  main {
    padding-bottom: 300px;
    margin-top: 4em;
  }

  .section-header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }


  #hamburger-icon {
    display: initial;
    float: right;
    height: 30px;
    margin-right: 1em;
    margin-top: .55em;
  }

  #hamburger-icon:hover {
    cursor: pointer;
  }

  #navbar-links-container {
    display: none;
  }

  .mobile-navbar-links-container {
    display: flex;
    flex-direction: column;
    padding-top: .25em;
  }

  #mobile-navbar-links-container a {
    text-decoration: none;
    font-size: 14px;
    margin-left: 1em;
    padding-top: .82em;
    padding-bottom: .82em;
  }
}

@media (max-width: 620px) {

  /* mobile bottom navbar */
  #bottom-navbar {
    height: 420px;
  }

  #bottom-navbar-container {
    flex-direction: column;
    align-items: center;
  }

  #follow-us {
    text-align: center;
    margin-left: 0em;
    margin-bottom: 1em;
  }

  #contact-us {
    width: 300px;
    margin-left: 0em;
    text-align: center;
  }

  #contact-us-heading {
    margin-top: 0em;
  }

  #footer-logo {
    width: 4em;
  }

}

/* desktop screens */
@media (min-width: 1200px) {

  /* bottom navbar */
  #bottom-navbar {
    height: 250px;
  }

  #footer-logo {
    bottom: .8em;
  }
}

/* large desktop screens */
@media (min-width: 1800px) {

  /* bottom navbar */
  #footer-logo {
    bottom: 2em;
  }

  #follow-us {
    margin-left: 20em;
  }
}
