#photo-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#photo-container img{
  width: 20%;
  margin: .5em;
  align-self: center;
  box-shadow: 1px 1px 2px 0 rgb(59, 59, 59);
  box-sizing: border-box;
}

@media (max-width: 700px){

#photo-container img{
  width: 40%;
}

main{
  margin-bottom: 8em;
}

}
