/* body{
    background-image: none;
  }
   */
#page-header {
  margin-top: 3.5em;
  background: linear-gradient(to right, #ff1410, #2196f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro {
  width: 75%;
  font-weight: normal;
  text-align: center;
  margin: auto;
  max-width: 1000px;
}

#intro-text {
  font-size: 20px;
}

#button-container {
  text-align: center;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

button {
  width: 14em;
  height: 3em;
  border-radius: 100px;
  border: 2px solid #B31B1B;
  font-size: 18px;
  font-weight: bold;
  color: #B31B1B;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

button:hover {
  background-color: #B31B1B;
  color: rgb(153, 133, 133);
}

#goals-header {
  margin-top: 2em;
}

#goalcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#image {
  margin-left: 400px;
  max-width: 900px;
  max-height: 600px;
}

#i1 {
  width: 65%;
  margin: 2rem auto 2rem auto;
  max-width: 600px;
  max-height: 700px;
  display: block;
}

#i2 {
  width: 40%;
  margin-left: 20em;
  max-width: 500px;
  max-height: 700px;

}

#watertube {
  margin-left: 2rem;
  width: 25%;
}

#goaldescription {
  margin-bottom: 20em;

}

#goal {
  margin-top: 2em;
  text-align: center;
  /* margin-left: 2em; */
  /* max-width: 750px; */
}

#description {
  text-align: center;
  margin: 1em 10em 0 10em;
  font-size: 20px;
}

@media (max-width: 650px) {

  #donor-levels-container {
    flex-direction: column;
    align-items: center;
  }


  main {
    margin-bottom: 5em;
  }
}
