main {
  margin-top: 0em;
}

#hero-image {
  background: url(/images/gallery/14.png);
  background-size: cover;
  height: 100vh;
}

#hero-image h1 {
  padding-top: 10vh;
  padding-left: 4%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#hero-image h2 {
  padding-left: 4%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#videoDiv2 {
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
  background-color: black;
  background-size: cover;
  top: 55px
}

/* This has been changed */
#video2 {
  width: 100%;
  height: auto;
  opacity: 0.8
}

#title {
  width: 100%;
  margin: auto;
  position: absolute;
  color: black;
  z-index: 12;
}

#title h1 {
  padding-top: 10vh;
  padding-left: 4%;
}

#title h2 {
  padding-left: 4%;
}

#about-us-header {
  margin-top: 3em;
}

.section-description {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

#metrics-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#metrics-container div {
  margin-left: 5em;
  margin-right: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#year-founded {
  width: 1.85em;
}

#images-container {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#images-container img {
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: 1em;
  border: 1px solid black;
}

.section-separator {
  margin-top: 4em;
  margin-bottom: 4em;
  border: 1px solid #DADADA;
}

#events-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.event-card {
  width: 316px;
  height: 460px;
  margin: 1em;
  background: #FBFBFB;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.event-card img {
  width: 100%;
}

.event-card h4 {
  margin-left: 20px;
  margin-top: .5em;
  margin-bottom: .5em;
}

.event-card p {
  margin-left: 20px;
  margin-right: 20px;
}

#goals-container {

  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 75%;
}

#current-goal {
  margin-top: 2.2em;
}

#cayuga-description {
  height: 9.4em;
}

#ocean-description {
  height: 7.8em;
}

#goals-container h4 {
  margin-bottom: .25em;
}

#description-container {
  display: flex;
  flex-direction: column;
}


@media (max-width: 700px) {
  #goals-container {
    width: 85%;
    margin-left: 5%;
  }

  #title {
    padding-top: 30%;
    text-align: center;
    color: black;
  }

  #title h1 {
    padding: 0;
    font-size: 40px;
  }

  #title h2 {
    padding: 0;
    font-size: 20px;
  }

  #videoDiv2 {
    background: url(../images/index/drone-boat.jpg);
    background-size: cover;
    height: 100vh;
    z-index: 10;
    top: 0;
  }

  #video2 {
    width: 0%;
    height: 0%;
    opacity: 0;
  }

}

@media (max-width: 620px) {

  #about-us-header {
    margin-top: 1.5em;
  }

  .section-desccription {
    width: 85%;
  }

  #metrics-container {
    flex-direction: column;
    align-items: center;
  }

  #metrics-container div {
    margin-bottom: 1.5em;
  }

  #images-container {
    margin-top: 1.5em;
  }

  .section-separator {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #goals-container {
    width: 97%;
    justify-content: center;
    margin-left: 0%;
  }

  main {
    margin-bottom: 10em;
  }

  #goals-container img {
    height: 40em;
    margin-right: -1.75em;
    margin-left: -1.75em;
  }

  #current-goal {
    margin-top: 3.5em;
  }

  #cayuga-description {
    height: 12.5em;
  }

  #ocean-description {
    height: 11.1em;
  }

  #goals-container h4 {
    margin-bottom: 0em;
  }

  #description-container {
    display: flex;
    flex-direction: column;
  }

  #description-container h4 {
    font-size: 20px;
  }
}

@media (min-width: 1500px) {
  #goals-container {
    margin-left: 20em;
  }
}
