#page-header {
  margin-bottom: .5em;
}

#who-we-are-description {
  width: 50%;
  text-align: left;
  margin: auto;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 400;
}

#sub-heading {
  padding-top: 15px;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 400;
}

#full-team-photo {
  width: 50%;
  max-width: 1000px;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 1em;
  border: 1px solid black;
}

.subteam-header {
  margin-top: 3em;
}

.subteam-description {
  width: 50%;
  margin: auto;
  margin-bottom: 1em;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em;
  font-family: 'Open Sans';
}

.member-card {
  background: #FBFBFB;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
  width: 285px;
  height: 425px;
  margin: 1em;

}

.flip-card {
  background-color: transparent;
  width: 285px;
  height: 285px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.member-card-info {
  padding-left: 12px;
  padding-top: 12px;
  height: 109px;
  font-family: 'Open Sans';
}

p {
  font-family: 'Open Sans';
  font-size: 15px;
}

h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  margin: 0em;
}

.headshot {
  width: 100%;
  height: 285px;
  object-fit: cover;
}

.logo-container {
  text-align: right;
  width: 100%;
  height: 10px;
}

.linkedin-logo {
  width: 8%;
  margin-right: .5em;
  margin-bottom: .5em;
}

.flip-card-back {
  transform: rotateY(180deg);
  text-align: center;
  display: table;
  height: 100%;
}

.flip-card-back div {
  display: table-cell;
  vertical-align: middle;
}

.flip-card-back p {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

#aleksandra {
  font-size: 20px;
}

.hidden {
  visibility: visible;
}

@media (max-width: 620px) {

  main {
    margin-bottom: 8em;
  }

  .subteam-description {
    width: 75%;
    padding-top: 10px;
  }

  #who-we-are-description {
    width: 80%;
  }

  #full-team-photo {
    width: 80%;
  }

}
