@font-face {
  font-family: 'ElephantOutline';
  src: url("./../images/fonts/Elephant-Outline.otf") format('opentype');
}

#text-video-section{
  text-align: center;
  width: 60%;
  margin: auto;
}

#text-video-section h5{
  font-weight: normal;
  margin-bottom: 1em;
}

#application-button-section{
  padding-top: 15px;
  padding-bottom: 0px;
  display:flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.application-button{
  color: black;
  padding: 15px 32px;
  text-align: center;
  margin: 0px 20px;
  transition-duration: 0.3s;
}

.application-button:hover{
  color: white;
}

#upperclassmen{
  border: thick double #B31B1B;
}

#upperclassmen:hover{
  background-color: #B31B1B;
}

#underclassmen{
  border: thick double #65C8D0;
}

#underclassmen:hover{
  background-color: #65C8D0;
}

.application-button-text{
  font-family: 'ElephantOutline';
  font-size: 40px;
}

.information-sessions {
  display: inline-block;
  text-align: left;
}

#application-info-slides {
  margin-top: 2rem;
}

.iframe-container {
  display: flex;
  justify-content: left;   
}

iframe{
  width:200px;
  height:315px;
  margin-bottom: 5em;
}

.questions-section{
  width: 80%;
  margin: auto;
  text-align: left;
  margin-bottom: 1.5em;
  max-width: 1000px;
}

.questions-section h4{
  font-weight: normal;
  margin-bottom: 1em;
}

.question-container{
  height: 37px;
  background: #FBFBFB;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

.question-container:hover{
  text-decoration: underline;
}

.question-container:hover p{
  color: black;
}

.question-container p{
  margin: auto;
  margin-left: 1em;
  margin-right: 1em;
  color: #B31B1B;
}

.answer-container{
  margin-bottom: .3em;
  margin-top: .3em;
  background: #FBFBFB;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
}

.answer-container p{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

#team-photo-container{
    text-align: center;
    margin-top: 8em;
}

#team-photo{
  width: 75%;
  margin: auto;
  border: 1px solid black;
  max-width: 1000px;
}

@media (max-width: 700px){
.question-container{
  height: 50px;
}
}

@media (max-width: 600px){
iframe{
  width:300px;
  height:168px;
  margin-bottom: 5em;
}

#team-photo-container{
  margin-bottom: 10em;
}

#text-video-section{
  width: 80%;
}

#application-button-section{
  flex-direction: column;
}

}

@media (max-width: 350px){
.question-container{
  height: 75px;
}
}

@media (min-width: 1500px){
  iframe{
    width:1000px;
    height:560px;
    margin-bottom: 5em;
  }
}
